{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 60,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "singleAttributePerLine": true
}
