@import 'constants.less';

.LayoutInside {
  display: grid;
  grid-template-columns: 240px auto;
  grid-template-rows: @header-height auto;
  width: 100vw;
  height: 100vh;

  main {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;
  }
}
