@import '../../../_assets/colors.less';

.Button {
  color: @bg-color;
  outline: none;

  &.primary {
    background-color: @primary-color;
  }

  &.secondary {
    background-color: @secondary-color;
  }

  &.danger {
    background-color: @error-color;
  }
}
