.CategoryItem {
  list-style: none;
  padding: 8px 16px;
  margin: 0;
  border: 1px solid #666;

  .name {
    font-weight: 600;
  }

  .description {
    font-weight: 200;
    font-style: italic;
  }
}
